# Python Basics testing

### this notebook will test you on the following
1. variables
2. syntax writing
3. if conditions 
4. loops
5. functions
6. data structure
7. reading and writing files
8. debugging and tracing errors

### Variables

In [62]:
# create a variable that store an integer num

In [63]:
# create a variable that store a float num

In [64]:
# create a variable that stores a string

In [65]:
# create two variables holding the following values 5,7 then create a third variable that is their sum

In [66]:
# create two variables holding 4,9 then print their multiplication

In [67]:
# how to implement باقي القسمه

In [68]:
# store a boolean variable that holds the value of 5==10

### Conditions

In [69]:
# print the result of 3x2 in case that y = 10 and the result of 5x6 in case that y = 5 
y= 5 
# your code

In [70]:
# print true if y = 4 otherwise print false
y = 2
# your code

In [71]:
#print true if y = 10 or y = 3 otherwise print false
y = 3

In [72]:
# print true if y = 10 and x = 5 otherwise print false
y = 10
x = 5 
# your code

### loops

In [73]:
# create a loop using for loop to print your name 10 times

In [74]:
# create a loop using while loop to print your name until x == 10  # don't forget to increment x
x= 0

In [75]:
# create a loop using for loop to print your name 10 times but if x = 5 break the loop # don't forget to increment x
x= 0

In [76]:
# create a loop using for loop to print your name 10 times but if x = 5 print instead your father's name #don't forget to increment x
x= 5

In [77]:
# create a loop using for loop to print your name 10 times but if x = 5 don't print anything and continue to the next cycle

### functions

In [78]:
# create a function to print your name

In [79]:
# create a function to print 10 + 5

In [80]:
# create a function that takes x,y as a paramaters then print x - y

In [81]:
# create a function that takes any number of paramaters then sum all of them and print the sum

In [82]:
# create a function that return the factorial of a number

In [83]:
# create a function that return the factorial of a number but using recrusive functions method

In [84]:
# tell me what are functions used for

### data structure

In [85]:
# create a list of numbers with length = 10

In [86]:
# create a list of numbers and strings

In [87]:
# change the 3th element in the following list to 0 
x= [5,10,23,41,512,64,43,76,12,2]

In [88]:
# reverse the list above

In [89]:
# append 50 to the above list

In [90]:
# append 400 to the above list at index = 3

In [91]:
# append 300 at the first index

In [92]:
# remove the last element from the list

In [93]:
# remove any number == 300 from the list

In [94]:
# remove number at index = 3 from the list

In [95]:
# add y list to the end of x list
y = [5,4,3]
x = [1,2]

In [96]:
# add y list to index 1 at x 
y= [5,4,3,2]
x = [15,30,34]

In [97]:
# loop over x and print its elements
x = [1,2,3,4]

In [98]:
#create a list of 10 numbers using list comperhension

In [99]:
# create a list that has elements in y but not in x 
y= [1,2,3,4,10,52,24]
x = [1,4,52]

In [100]:
# loop over x and change the 4th element to 0 
x = [123,41,23,54,13,51]

In [101]:
# remove any duplicated elements in x
x = [123,41,23,123,54,13,51,54]

In [102]:
# create tuble of 2 numbers

In [103]:
# try to change the 1st element in the tuple and see what u will get

In [104]:
# create a set of [1,2,3,4,5]

In [105]:
# add 7 to the set above

In [106]:
# remove 4 from the set above

In [107]:
# combine the two sets using union
x = {1,2,3,5}
y = {1,2,4,6}

In [108]:
# get the intersection of x and y

In [109]:
# get elements in set x and not in set y

In [111]:
# create a dict containing a name, address, and phone number

In [113]:
# loop over the above dict and print its key and value

In [114]:
#add a new data to the dict for ex the country of origin

In [115]:
# remove the address from the dict

In [116]:
# create two dictionaries then merge them

### reading and writing to files

In [122]:
# create a file containing the following string "Hello my name is ...." 10 times

In [125]:
#read the lines in the above file created and print each line

### debugging and tracing errors

#### common errors

In [126]:
#classify the following errors 
print("Hello, world"

SyntaxError: incomplete input (4030802071.py, line 2)

In [127]:
x = 5 / 0

ZeroDivisionError: division by zero

In [132]:
#get the average of list numbers
numbers = [10, 20, 30, 40, 50]
total = 10+20+30+40

average = total / len(numbers)  # Should be division by total number of elements
print("Average:", average)

Average: 20.0

In [135]:
# Using Print Statements to Trace Variable Value

# Initialize x
x = 0

# Loop to update x and print its value
for i in range(5):
    x += i
    # print(x) value after each iteration
# Print final value of x

In [136]:
# create a try and except statment example to show a zero division error